html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: lightgray;
}
nav {
    background-color: red;
}
nav ul li {
    display: inline-block;
}
section {
    background-color: aquamarine;
}