body {
    font-family: 'Lato', sans-serif;
    background: lightblue url(https://media.istockphoto.com/photos/forest-wooden-table-background-summer-sunny-meadow-with-green-grass-picture-id1353553203?b=1&k=20&m=1353553203&s=170667a&w=0&h=QTyTGI9tWQluIlkmwW0s7Q4z7R_IT8egpzzHjW3cSas=) no-repeat fixed center;
}
.one {
    font-size: 16px;
}
.two {
    font-size: 64px;
}
.rem {
    font-size: 3rem;
}
.em {
    font-size: 3em;
}
