* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    line-height: 1.8rem;
    display: flex;
    margin-top: 40px;
}
img {
    max-width: 500px;
    border-radius: 7px;
}
#newsBox {
    max-width: 800px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    display: flex;
}

