html {
  box-sizing: border-box;
  font: 1.1em/1.4 Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  border: 5px solid rgb(86, 98, 110);
  border-radius: 5px;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

section {
  background-color: rgb(89, 161, 175);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

.item {
  flex: 1 1 250px;
  margin: 10px;
}

