* {
  margin: 0;
  padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif ;
}

h1 {
    margin: 1.5rem auto 1.5rem 0.5rem;
}

.container {
    border: 4px solid rgb(86, 98, 111);
    margin: 0.3rem;
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article {
    width:100%;
    background-color: #59A1AF;
    margin: 8px;
    color: whitesmoke;
    border: 2px solid #59A1AF;
    border-radius: 3px;
}