* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  align-items: end;


  
  /* column-gap: 10px;
  row-gap: 10px; */
  /* grid-auto-rows: minmax(200px, auto); */
  /* grid-template-rows: 200px 100px 200px; */
  /* grid-template-rows: repeat(3, 1fr); */
}

.item {
  background-color: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: 1px solid skyblue;
}
