* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  /* height: 500px; */
  display: flex;
  background-color: #f4f4f4;
  /* justify-content is always on main axis */
  /* justify-content: end; */
  /* align-items is always on main cross */
  /* align-items: start; */
  /* flex-wrap: wrap; */
}

.item {
  flex: 1;/* This is a short form of flex: 1 0 0*/
  height: 100px;
  background-color: rgb(89, 161, 175);
  color: #fff;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {
  
}

.item:nth-of-type(2) {
  
}

.item:nth-of-type(3) {
  
}
