body {
    margin: 0;
  }
  
  nav {
    background-color: rgb(31, 124, 224);
    display: flex;
    height: 10vh;
  }
  
  nav div {
    flex: 20%;
    width: 100%;
    color: white;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px #555555;
  }
  
  nav div input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  main {
    width: 100vw;
    min-height: 90vh;
    background-color: rgb(31, 124, 224);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  main h1 {
    margin: 0;
    font-size: 90px;
  }
  