body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: aqua;
}

main {
    background-color: gray;
    flex: 1;
}

footer {
    background-color: blue;
    color: #fff;
}