html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 *{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 body {
    background-color: lightgrey;
 }
 
 header {
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid lightgray;
 }
 
 figure {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
 }
 
 h3 {
    font-style: italic;
    margin-left: 1.5rem;
 }
 
 a {
    text-decoration: none;
    color: lightgray;
 }
 
 main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    background-color: whitesmoke;
 }
 
 main .left {
    width: 300px;
    background-color: white;
    height: 700px;
    border-right: 1px solid lightgray;
 }
 
 main .left ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
 }
 
 main .left li {
    list-style-type: none;
    font-size: 24px;
    border-bottom: 1px solid lightgray;
    padding: 10px 40px;
    color: lightgray;
 }
 
 article {
    width: 500px;
 }
 
 article  section {
    width: 500px;
    height: 250px;
    padding: 30px 30px;
    background-color: white;
    margin: 70px;
 }
 
 article section h2{
    color: rgb(76, 168, 119);
    margin-bottom: 60px;
 }
 
 article section p {
     color: lightgray;
     font-size: large;
 }
 
 main .right {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.815);
    min-height: 400px;
    height: 700px;
    border-right: 1px solid lightgray;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }
 
 main .right section {
    width: 140px;
    height: 250px;
    text-align: center;
    padding-top: 20px;
    border: 1px solid lightgray;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 footer {
    width: 100%;
    height: 160px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
 }
 
 footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    float: right;
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
 }
 
 footer li {
    list-style-type: none;
    margin-top: 10px;
 }
 
 