body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 0;
  text-align: center;
}

nav {
  position: fixed;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04aa6d;
  color: white;
}

main {
  padding: 16px;
}

footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
